<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendrier</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <main>
        <article>
            <p>Vous pouvez générer une date aléatoire.</p>
            <p>Vous pouvez également générer une météo alétoire selon la région et la date.</p>
            <button id="dateAlea">Date aléatoire</button>
            <div class="CalendrierContainer">
                 <div class="result itemFrame">
                     <div id="Saison">Saison : </div>
                     <div id="Mois">Mois : </div>
                     <div id="Jour">Jour : </div>
                 </div>
            </div>
            <button id="meteoAlea">Météo aléatoire</button>
            <div class="MeteoContainer">
                 <div class="result itemFrame">
                     <div id="Saison">Température : </div>
                     <div id="Mois">Pluie : </div>
                 </div>
            </div> 
            <p>Ainsi parle l'Oracle...</p>
        </article>
    </main> 
 </body>
</html>